<div class = "titlecard">
    <div class = "titlecardtext">
        <h1> Harry Rowlands </h1>
        <i><p> Software Developer, Team Leader, Dedicated Individual </p></i>
    </div>
    <img src="assets/dirtstorm.JPG" alt="A dirt storm over a property in Dubbo.">
</div>
<br />

<div class = "welcome">
    <h2> Welcome to my website!</h2>
    <img src="assets/face.jpg">
    <p> I am a recent university graduate looking for an opportunity to go above and beyond. I am passionate about crafting tailored and scalable software solutions through diligence, innovation, and collaboration to make a positive difference in the lives of people and in the world. </p>
    <br />

    <p> I've made this website from the ground up using Angular, as a place to demonstrate and share my skills with potential employers. I am currently looking for work in Greater Sydney! </p>
</div>
<br /><br />

<div class = "summary">
    <h2> Skills and Experience Quick Summary </h2>
</div>