<!-- Import Programming Language Icons -->
<link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />

<!-- Name with Background Section -->
<div class = "titlecard">
    <div class = "titlecardtext">
        <h1>Sharpening Scraps</h1>
        <i><p>A website by Harry Rowlands</p></i>
    </div>
    <img src="assets/dirtstorm.JPG" alt="A dirt storm over a property in Dubbo.">
</div>
<br />

<!-- Quote and Portrait Section -->
<div class = "welcome">
    
    <img src="assets/face.jpg">
    <h2> Hi! Welcome to my website.</h2>
    <br />
    <p> This is a space where I experiment with things, maybe write, share about my life, and have a bit of fun building a website with Angular.</p>
    <br />

    <p>My life is about Jesus Christ, he's the true king of the world. I'm married to Claire, regularly church in Wollongong and work in a corporate IT department doing helpdesk.</p>
</div>
<br /><br />